*{
    margin: 0px;
    padding: 0px;
}
li{list-style: none;}
a{
    color: #333;
}
a:hover{ 
text-decoration:none; 
color:#333; 
}
 
img{
    width: 100%;
    height: auto;
}

#nav{
   height:80px;
   background:transparent;
   border: 0px solid;
   z-index: 333;
   transition: 0.5s;
}
#nav .container{
    width: 1140px;
    height: 90px;
}
.navbar-left{
    width: 110px;
    height: 30px;
    margin-top: 10px;
}
.navbar-left a img{
    width: 110px;
    height: 30px;
}
.navbar-right{
    width: 500px;
    height: 90px;
    line-height: 90px;
}
.navbar-right ul{
    width: 370px;
    height: 90px;
    float: left;
}
.navbar-right ul li{
    width: 184px;
    height: 90px;
    float: left;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.navbar-right ul li a{
    color: #BCBCBC;
}
.navbar-right ul li a:hover{
    color:white;
}
#lobtn{
    width: 100px;
    height: 37px;
    display: inline-block;
    font-weight: bold;
}
#head{
    width: 100%;
    height: 100vh;
    background: url(../images/big.jpg)no-repeat;
    background-position: 50% -90px;
    background-size: cover;
    z-index: -1;
    position: absolute;
}
#zhe{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
    position: absolute;
}
.container{
    z-index: 333;
    height: 100vh;
}
.container .row .col-md-12{
    margin-top: 250px;
    text-align: center;
}
.container .row .col-md-12 h1{
    font-size: 45px;
    color: white;
    font-family: "宋体";
    font-weight: bold;
}
.container .row .col-md-12 input{
    width: 60%;
    height: 45px;
    margin-top:60px;
    padding-left: 20px;
    outline: none;
}
.container .row .col-md-12 a{
    display: inline-block;
    padding: 10px;
    height: 40px;
    margin-top:30px;
    font-size: 15px;
    font-weight: bold;
}
.container .row .col-md-12 a:last-child{
    margin-left: 20px;
}
.container .row .col-md-12 a:first-child{
    margin-left: -20px;
}

.container1{
    height:auto;
}
.container1 .row .col-md-6{
    height: 400px;
    text-align: center;
    padding-top: 130px;
}
.container1 .row .col-md-6:first-child{
    background: #0FACF3;
    color: white;
}
.container1 .row .col-md-6 h1{
    font-size: 55px;
    font-family: "宋体";
    font-weight: bold;
}
.container1 .row .col-md-6 p{
    font-size: 20px;
}
.container1 .row .col-md-6 .whitebtn{
    background: white;
    color: #37404D;
    margin-top: 15px;
    padding: 20px;
    font-size: 15px;
}
.container1 .row .col-md-6:last-child{
    background:#E4E7EA;
}

.container2{ 
    width: 60%;
    margin-top: 50px;
    border-top: 1px solid #EBEBEB;   
    height: auto;
}
.container2 p{
    text-align: center;
}
.container2 p:first-child{
    font-size: 35px;
    font-family: "宋体";
    margin-top: 130px;
    font-weight: bold;
}
.container2 img{
    width:100%;
}
.container2 .col-md-6{
    padding:55px;
}
.container2 .col-md-6 p{
    text-align: left;
    width:100%px;
}
.container2 .col-md-6 h1{
    color: #DFE0E2;
    font-size: 60px;
    font-weight: bold;
}
.container2 .col-md-6 h2{
    font-family: "宋体";
    font-weight: bold;
}

.right{
    text-align: left;
}

.container3{
    width:100%;
    height: auto;
}
.container3 .row .col-md-12 p{
    text-align: center;
}
#bt{
    font-weight: bold;
    font-size: 40px;
    margin-top:20px;
}
#bt2{
    font-size: 20px;
    margin-top: 30px;
}
.container3 .row .col-md-12{
    width:100%;
    height: auto;
    padding:50px;
    background: #F8F8F8;
}
.tx{
    background: url(../images/nishant.jpg)no-repeat;
    background-size: 100%;
    width:70px;
    height:70px;
    border-radius: 500px;
    margin:50px auto;
}
.tx2{
    background: url(../images/05.jpg)no-repeat;
    background-size: 100%;
    width:70px;
    height:70px;
    border-radius: 500px;
    margin:50px auto;
}
.wz{
    font-size: 20px;
    width: 90%;
    margin:80px auto;
    line-height: 40px;
}
.carousel-indicators .active{
    background:#3B8BE1;
}
.carousel-indicators li{
    border: 1px solid #E3E3E3;
}

.container4{
    width:100%;
    height: auto;
}
.container4 .row .col-md-12{
    height: auto;
    text-align: center;
    border-bottom: 1px solid #F1F2F3;
}
.container4 .row .col-md-12 div{
    width: 60%;
    height: 200px;
    margin:20px auto;

}
.container4 .row .col-md-12 div img{
    width: 20%;
    float: left;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
}
.container4 .row .col-md-12 div img:first-child{
    width: 15%;
}
.container4 .row .col-md-12 div img:nth-child(3){
    width:20%;
}
.container4 .row .col-md-12 div img:last-child{
    width: 20%;
}
.greyscale{
    filter: grayscale(100%);
}
.greyscale:hover{
    filter: grayscale(0%);
}

.container5{
    width: 80%;
    height: auto;
    margin:0px auto;
    padding:50px;
}
.container5 ul{
    width: 130px;
    float: left;
}
#lobtnd{
    width: 100px;
    height: 35px;
    font-weight: bold;
    margin-top:-3px;
}